<!-- 投稿詳細 -->
  <!DOCTYPE html>
<html lang="ja">
<h2>投稿詳細画面</h2>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg',fallback:"no_image.jpg" %><br>
<%= link_to(@user.username,"users/#{@user.id}") %>
 <h2>タイトル</h2>
  <p><%= @list.title %></p>
  <h2>本文</h2>
  <p><%= @list.body %></p>
   <% if @user == current_user %>
  <%= link_to "編集", edit_list_path(@list.id) %>
<%= link_to "削除", destroy_list_path(@list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
