<!-- ユーザー編集画面 -->


	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のerrorが発生しました。</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h1>ユーザー情報編集</h1>

<%= form_for(@user) do |f| %>

<p>名前</p>

<%= f.text_field :username %>

<p>ユーザー画像</p>

<%= f.attachment_field :profile_image %>

<p>コメント</p>

<%= f.text_area :introduction %>

<%= f.submit 'Update User' %>

<% end %>
